

/*--body_container_police--*/

body{
  margin: 0;
}

.container{
  width: 100%;
}

* {
  font-family: 'Raleway', sans-serif;
}

/*-----container_section_header-----*/

.logo {
  height: 50px;
  margin: 20px;
  padding: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
}

/*--container_section_1_liens/a_hebergment_activite_header--*/

nav{
  display: contents;
}

.liens_nav{
  display: flex;
  font-size: 13px;
}

.lien_nav {
  box-sizing: border-box;
  border-top: solid 1px;
  color: #0065fc;
  padding-top: 40px;
}

.lien_nav_1{
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 40px;
}

.a_hebergement{ 
  color: #0065fc;
  text-decoration: none;
  padding: 10px;
}

.a_activite{
  color: black;
  text-decoration: none;
  padding: 10px;

}

a:hover{
  color: rgba(0, 26, 255, 0.4);
}

a{
  color: black;
  text-decoration: none;
}

/*-----container_1-----*/

.container_1{
  box-sizing: border-box;
  padding: 5px;
}

.box_1{
  box-sizing: border-box;
  padding: 15px;
}

form {
  display: inline-flex;
  border-radius: 11px;
  border: solid #f2f2f2 1px;
}

.icone_geo {
  background: #f2f2f2;
  align-items: center;
  padding: 10px 14px;
  display: flex;
  border-radius: 10px 0 0 10px;
}

form > input {
  border: none;
  padding: 0 14px;
  display: flex;
  font-weight: bolder;
}

.button {
  padding: 10px;
  border-radius: 0 10px 10px 0;
  border: none;
  background: #0065fc;
  color: #fff;
}

.button_mobil{
  display: none;
}

/*-----filtre_container_1_trouvez-----*/

.filtre_1{
  margin: 20px;
  margin-left: -20px;
  font-weight: bolder;
}

strong{
  margin: 10px;
  font-size: 15px;
}

.fa-money-bill-wave{
  color: #0065fc;
}

 .fa-child{
  color: #0065fc;
}

.fa-heart{
  color: #0065fc;
}

.fa-dog{
  color: #0065fc;
}

.span_1 {
  background: #deebff;
  border-radius: 20px;
  width: 45px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: -11px;
  margin-top: -12px;
  margin-bottom: -12px;
}

/*-----ancre_#_container_1_-----*/

.ancre_1 {
  margin: 15px;
  padding: 10px;
}

.ancre_1 a {
  border: solid 2px #dadada;
  padding: 10px 10px;
  border-radius: 25px;
  margin-right: 20px;
  display: inline-block;
}

/*-----icon_i_container_1_-----*/

.span_2{
  color: #0065fc;
  display: inline-flex;
  margin-right: 5px;
  border: solid #d9d9d9 1px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  font-weight: bolder;
}


/*-----container_2_hebergement/populaire-----*/

.col_hebergement {
  display: flex;
}

.box_2 {
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
  background: rgb(240, 240, 240);
  width: 60%;
  margin: 10px;
  padding: 10px;
}

.box_2 > div {
  width: 33%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 30px;
}

.box_2 > p {
  color: #dadada;
}

#hebergement {
  width: 100%; 
  margin: 20px 0 -25px 15px;
  font-size: 18px;
}

.article_1 {
  box-shadow: 5px 5px 5px rgb(230, 230, 230);
  background-color: #fff;
  border: solid #fff 5px;
  border-radius: 20px;
}

.img_1 {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.sous_article_1{
  margin: 5px;
}

.fa-star.off {
  color: #d9d9d9;
}

.fa-star {
  color: #0065fc;
}

.p_1{
 font-weight: bolder;
 height: 10px;
 margin: 2px;
 font-size: 13px;
}

.p_2{
  margin: 10px 1px;
  font-size: 12px;
}

.etoile{
  font-size: 12px;
}

/*--ancre_afficher_plus_container_2_hebergement/populaire--*/

.afficher_plus {
  margin: -20px 0 0px 20px;
  font-weight: bolder;
}

/*-----container_2_les_plus_populaire-----*/

.col_les_plus_populaire {
  width: 40%;
  border-radius: 30px;
}

.box_3 {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  justify-content: space-evenly;
  background: rgb(240, 240, 240);
  margin: 10px; 
}

.box_3 > .p > .span {
  color: #dadada;
}

.box_3 > div{
  box-sizing: border-box;
  padding: 20px;
}

#activite {
  margin: 30px 0 10px 30px;
  font-size: 18px;
  font-weight: bolder;
}

#activite > i {
  margin-right: 40px;
  float: right;
}

.article_2 {
  box-shadow: 5px 5px 5px rgb(230, 230, 230);
  display: flex;
  border-radius: 20px;
  border: solid #fff 5px;
  background-color: #fff;
  height: 110px;
  margin-left: 20px;
  margin-right: 20px;
}

.article_2 > div {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 20px;
}

.article_2 > .img_2{
  border-radius: 10px 0 0 10px;
  width: 40%;
  object-fit: cover;
}

.pc2_1 {
  margin: 5px 0;
  font-size: 13px;
  font-weight: bolder;
}

.pc2_2 {
  height: 35px;
  font-size: 12px;
}

.etoile_pop{
  font-size: 12px;
}

/*-----container_3_activite-----*/

.box_4 {
  display: flex;
  font-size: 12px;
}

.box_4 > div {
  box-sizing: border-box;
  width: 25%;
  padding: 20px;
}

/*-----TiTre_activité_a_marseille-----*/

.h2_3 {
  box-sizing: border-box;
  padding-left: 20px;
  width: 100%;
  font-size: 20px;
}

/*-----TiTre_photo_activité_a_marseille-----*/

.p_4{
  box-sizing: border-box;
  padding: 0 0 10px 20px;
  font-weight: bolder;
}

/*----- vieux_port-----*/

.article_3 {
  box-shadow: 5px 5px 5px rgb(240, 240, 240);
  background-color:#fff;
  border-radius: 20px;
  width: 100%;
}

.article_3 > .img_3 {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 316px;
}

/*-----fort_de_pomègues-----*/

.article_3 > .img_4 {
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  object-position: 0 -70px;
  width: 100%;
  height: 150px;
}

/*-----îles_du_frioul-----*/

.article_3 > .img_5 {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  object-position: 0 -25px;
  width: 100%;
  height: 100px ;
}

/*-----parc_national_des_calanques-----*/


.article_3 > .img_6 {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 316px;
}

/*-----nôtre_dame_de_la_garde-----*/

.article_3 > .img_7 {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 125px;
}

/*-----parc_longchamps-----*/

.article_3 > .img_8 {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  object-position: 0px -1px;
  width: 100%;
  height: 125px;
}

/*-----container_4_section_5_footer-----*/

.container_4{
  margin-top: 50px;
}

.footer {
  background-color: rgb(240, 240, 240);
  display: flex;
  font-size: 12px;
}

.footer > div {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  width: 33.3%;
  box-sizing: border-box;
}

label{
 line-height: 30px;
 font-size: 15px;
}

.label_1{
 line-height: 30px;
}

@media screen and ( max-width: 1440px ) {

 .etoile_pop{
   margin: 25px 0;
 } 

.article_3 > .img_4{
  object-position: 0;
}

.article_3 > .img_8{
  object-position: 0 -30px;
}

}

@media only screen and ( max-width: 1024px) {

.p_1{
  font-size: 12px;
}

.etoile_pop{
  margin: 0;
}

.article_3 > .img_4 {
  object-position: 0 -70px;
}
  
.article_3 > .img_5{
  object-position: 0 1px;
}

.article_3 > .img_8{
  object-position: 0 10px;
}



}

  @media only screen and (max-width: 992px){

/*--MDQ992---container_header_nav-----*/

body{
  display: block;
}

.header{
 flex-direction: column;
}

.logo {
 align-self: center;
}

.liens_nav{
  display: flex;
  margin-top: -20px;
}

.lien_nav {
  width: 50%;
  padding: 10px 15px;
  text-align: center;
  border-top: none;
  border-bottom: solid #0065fc 3px;
}

.lien_nav_1{
  margin-right: 0;
  margin-left: 0;
  width: 50%;
  padding: 10px 15px;
  text-align: center;
  border-bottom: solid #f2f2f2 3px;
}

/*--MDQ992_container_1_--*/

.container_1{
  display: block;
  width: 100%;
}

.box_1{
 display: block;
 width: 100%;
 box-sizing: border-box;
 padding: 10px;
}

h2{
  font-weight: bolder;
  font-size: 20px;
}

form {
  display: flex;
  justify-content: center;
  height: 50px;
}

form > input{
  flex-grow: 1;
  font-weight: bolder;
  font-size: 20px;
}

.filtre_1{
  margin-left: 0px;
  display: block;
  font-weight: bolder;
}

.ancre_1{
  margin: -10px;
}

.ancre_1 a {
 margin: 5px;
}

/*--MDQ992---container_2_hebergement-----*/

.container_2{
  display: flex;
}

.col_hebergement {
  display: flex;
  flex-wrap: wrap;
}

.col_hebergement .box_3 {
  flex: 1;
  order: 1;
}

.col_hebergement .box_2 {
  order: 2;
}

.box_2 {
  display: block;
  width: 100%;
  background-color: #fff;
}

.box_2 > div {
  display: block;
  width: 100%;
}

strong{
  font-weight: bolder;
}

#hebergement{
  font-size: 30px;
  font-weight: bolder;
  margin: 40px 0 10px 20px;
}

.article_1 {
 height: auto;
}

.article_1 > .img_1{
  height: 310px;
}

.sous_article_1{
  box-sizing: border-box;
  padding: 10px;
}

 .etoile{
  font-size: 15px;
 }

.afficher_plus{
  font-weight: bolder;
  font-size: 25px;
}

.p_1{
  font-size: 25px;
  height: auto;
}

.p_2{
  font-size: 20px;
  margin-bottom: 20px;
}

.fa-star {
  font-size: larger;
}
/*--MDQ992---container_2_les_plus_populaire-----*/

#activite{
  font-size: 30px;
  box-sizing: border-box;
  padding: 50px 0 10px;
}

.col_les_plus_populaire {
  width: 100%;
}

.box_3 {
  border-radius: 0;
  margin: 0;
  display: block;
  height: auto;
}

.box_3 > div {
 padding: 5px;
}

.article_2{
  height: 200px;
  margin-left: 35px;
  margin-right: 35px;
}

.article_2 > .img_2{
  width: 30%;
}

.article_2 > div {
  display: flex;
  flex-direction: column;
}

.etoile_pop{
  font-size: 15px;
  padding: 20px 0;
}

.pc2_1{
  font-size: 25px;
  font-weight: bolder;
}

.pc2_2{
  font-size: 20px;
  height: 70px;
}

/*--MDQ992---container_3_activite-----*/

.box_4 {
  display: block;
  width: 100%;
}

.box_4 > div {
  display: block;
  width: 100%;
}

.h2_3{
  font-size: 30px;
  font-weight: bolder;
  margin-top: 50px;
}

/*--MDQ992--- vieux_port-----*/


.article_3 > .img_3 {
  height: 345px;
  object-position: 0 -70px;
}
/*--MDQ992---fort_de_pomègues-----*/


.article_3 > .img_4 {
  height: 345px;
  object-position: 0 -470px;
}

/*--MDQ992---îles_du_frioul-----*/

.article_3 > .img_5 {
  height: 345px;
  object-position: 0 -80px;
}


/*--MDQ992---parc_national_des_calanques-----*/

.article_3 > .img_6{
  object-position: 0 -80px;
  height: 345px;
}

/*--MDQ992---nôtre_dame_de_la_garde-----*/

.article_3 > .img_7{
  height: 345px;
  object-position: 0 -70px;
}

/*--MDQ992---parc_longchamps-----*/


.article_3 > .img_8{
  height: 345px;
  object-position: 0 -120px;
} 

.p_4{
  font-size: 25px;
  padding: 0 0 10px 30px;
}

/*--MDQ992---container_footer-----*/

.footer {
  display: block;
  width: 100%;
  font-size: 18px;
}

.footer > div {
 width: 100%;
}

}

@media only screen and (max-width: 768px) {

.article_1 > .img_1{
  height: 240px;
} 

.article_2{
  height: 150px;
  margin-right: 30px;
  margin-left: 30px;
}

#activite{
  font-size: 25px;
}

.pc2_1{
  font-size: 20px;
}

.pc2_2{
  font-size: 15px;
  margin: 10px 0 30px;
}

.etoile_pop{
  font-size: 15px;
  margin: -20px 0 ;
}

#hebergement{
  font-size: 25px;
}

.p_1{
  font-size: 20px;
}

.p_2{
  font-size: 15px;
}

.afficher_plus{
  font-size: 20px;
  margin: 10px;
}

.h2_3{
  padding: 0 0 0 30px;
  font-size: 25px;
}

.p_4{
  font-size: 20px;
  padding: 0 0 20px 20px;
}

.article_3 > .img_3{
  object-position: 0 -30px;
  height: 290px;
}

.article_3 > .img_4{
  height: 290px;
  object-position: 0 -350px;
}

/*--MDQ768---îles_du_frioul-----*/

.article_3 > .img_5 {
  height: 290px;
  object-position: 0 -30px;
}


/*--MDQ768---parc_national_des_calanques-----*/

.article_3 > .img_6{
  height: 290px;
  object-position: 0 -30px;
}

/*--MDQ768---nôtre_dame_de_la_garde-----*/

.article_3 > .img_7{
  height: 290px;
  object-position: 0 -30px;
}

/*--MDQ768---parc_longchamps-----*/

.article_3 > .img_8{
  height: 290px;
  object-position: 0 -65px;
}

}

@media only screen and (max-width: 375px){

.button{
 padding: 0;
 border-radius: 15px;
 display: none;
}
   
.button_mobil{
  background-color: #0065fc;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px; 
}

.fa-search{
  color: #fff;
  display: flex;
  align-self: center;
  padding-left: 5px;
  padding-right: 5px;
}

#activite{
  font-size: 20px;
  padding: 30px 0 10px 10px;
  margin-left: 10px;
}

#activite > i{
  margin-right: 30px;
}

.article_2{
  height: 140px;
  margin-left: 15px;
  margin-right: 15px;
}

.etoile_pop{
  margin: -20px 0;
}

.pc2_1{
  font-size: 15px;
}

.pc2_2{
  margin: 20px 0;
}

#hebergement{
  font-size: 24px;
  font-weight: bolder;
}

.article_1 > .img_1{
  height: 100px;
}

.sous_article_1{
  padding: 0;
}

.etoile{
  font-size: 12px;
}

.p_1{
 font-size: 15px;
}

.p_2{
 font-size: 13px;
 margin: 10px 0;
}

.p_4{
  padding: 0 0 10px 20px;
}

.afficher_plus{
 font-size: 20px;
}

.h2_3{
  font-size: 25px;
}

.article_3 > .img_3{
  object-position: 0 -5px;
  height: 145px;
}

.article_3 > .img_4{
  object-position: 0 -150px;
  height: 145px;
}

.article_3 > .img_5{
  object-position: 0 -5px;
  height: 145px;
}

.article_3 > .img_6 {
  height: 145px;
  object-position: 0 -5px;
}
.article_3 > .img_7{
  height: 145px;
  object-position: 0 0px;
}

.article_3 > .img_8 {
  object-position: 0 -20px;
  height: 145px;
}

}