body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.item {
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
  border: solid 2px black;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  flex-basis: 100%;
}
.item_1 {
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
  border: solid 2px black;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  flex-basis: 100%;
}
.item_2 {
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  border: solid 2px black;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  flex-basis: 100%;
}
.item_3 {
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
  border: solid 2px black;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  flex-basis: 100%;
}
.sidebar {
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
  border: solid 2px black;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  flex-basis: 100%;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
  border: solid 2px black;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  flex-basis: 100%;
}
.article_1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  border: solid 2px white;
  background-color: rgb(53, 204, 204);
  width: 200px;
}
.article_2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  border: solid 2px white;
  background-color: rgb(16, 121, 86);
  width: 200px;
}
.article_3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  border: solid 2px white;
  background-color: rgb(116, 15, 211);
  width: 200px;
}
.article_4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  border: solid 2px white;
  background-color: rgb(204, 10, 10);
  width: 200px;
}
.article_5 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  border: solid 2px white;
  background-color: rgb(116, 116, 3);
  width: 200px;
}
.article_6 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  border: solid 2px white;
  background-color: rgb(167, 32, 32);
  width: 200px;
}
.article_7 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  border: solid 2px white;
  background-color: rgb(124, 4, 94);
  width: 200px;
}
.article_8 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  border: solid 2px white;
  background-color: rgb(238, 146, 146);
  width: 200px;
}
.article_9 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  border: solid 2px white;
  background-color: rgb(3, 17, 48);
  width: 200px;
}
.article_10 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  border: solid 2px white;
  background-color: rgb(62, 141, 31);
  width: 200px;
}
.article_11 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  border: solid 2px white;
  background-color: rgb(68, 64, 114);
  width: 200px;
}
.article_12 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  border: solid 2px white;
  background-color: rgb(169, 209, 76);
  width: 200px;
}
.article_13 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  border: solid 2px white;
  background-color: rgb(24, 219, 167);
  width: 200px;
}
.article_14 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  border-radius: 10px;
  border: solid 2px white;
  background-color: rgb(151, 34, 145);
  width: 200px;
}
.article_15 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  border-radius: 10px;
  border: solid 2px white;
  background-color: rgb(153, 119, 8);
  width: 200px;
}
.img_1 {
  border-radius: 10px;
}
.img_2 {
  border-radius: 10px;
}
.img_3 {
  border-radius: 10px;
}
.img_4 {
  border-radius: 10px;
}
.img_5 {
  border-radius: 10px;
}
.img_6 {
  border-radius: 10px;
}
.img_7 {
  border-radius: 10px;
}
.img_8 {
  border-radius: 10px;
}
.img_9 {
  border-radius: 10px;
}
.img_10 {
  border-radius: 10px;
}
.img_11 {
  border-radius: 10px;
}
.img_12 {
  border-radius: 10px;
}
.img_13 {
  border-radius: 10px;
}
.img_14 {
  border-radius: 10px;
}
.img_15 {
  border-radius: 10px;
}
