@import url("https://fonts.googleapis.com/css2? family= Cabin & family= Nunito &famille= Signika+Négatif & display=swap");

/* body */

body {
  margin: 0;
  font-family: "Signika Negative", sans-serif;
}

/* column*/

.container .col-1 {
  width: 8, 33%;
}
.container .col-2 {
  width: 16, 66%;
}
.container .col-3 {
  width: 25%;
}
.container .col-4 {
  width: 33, 33%;
}
.container .col-5 {
  width: 41, 66%;
}
.container .col-6 {
  width: 50%;
}
.container .col-7 {
  width: 58, 33%;
}
.container .col-8 {
  width: 66, 66%;
}
.container .col-9 {
  width: 75%;
}
.container .col-10 {
  width: 83, 33%;
}
.container .col-11 {
  width: 91, 66%;
}
.container .col-12 {
  width: 100%;
}

/* container central 1 */
/* container central 2 */
/* container central 3 */
/* container central 4 */
/* container central 5 */

.container {
  width: 100%;
}

/* container_nav */

.ancre {
  text-align: end;
}

/* icon_localisation_section_2_trouvez */

.span {
  background-color: rgb(121, 121, 121);
}

/*span _rond_button_section_2_trouvez */

.span_1 {
  background-color: rgb(35, 143, 143);
  border-radius: 10px;
}

button {
  border-radius: 0 10px 10px 0;
  color: rgb(7, 7, 121);
}

/*  ancre_button_section_2_trouvez */

.ancre_1 {
  margin: 10px;
  pad: 10px;
}

.ancre_1 a {
  border: solid 2px rgb(167, 167, 167);
  padding: 0px 5px;
  border-radius: 15px;
  margin-right: 20px;
  display: inline-block;
}

/* section_3_container_Hebergement */

.container_2 {
  display: flex;
}

.col_hebergement {
  display: flex;
}

/* section_3_box_hebergement */

.box_2 {
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
  background: rgb(240, 240, 240);
  width: 60%;
  margin: 20px 10px 30px 10px;
}

.box_2 > div {
  width: 33%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 30px;
}

/* h2_section_3_hebergement */

.h2_1 {
  width: 100%;
  height: 28px;
  margin: 20px;
}

.article_1 {
  box-shadow: 10px 10px 5px rgb(230, 230, 230);
  background-color: rgb(255, 255, 255);
  border: solid rgb(255, 255, 255) 5px;
  border-radius: 30px;
}

.img_1 {
  width: 100%;
  height: 150px;
  border-radius: 20px;
}

/* ancre_afficher_plus_section_3_hebergement */

.ancre_3 {
  width: 100%;
  height: 28px;
  margin: 10px;
  padding: 20px;
}

/* container_2_section_les_plus_populaire */

.col_les_plus_populaire {
  width: 40%;
  display: flex;
  border-radius: 30px;
}

.box_3 {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  justify-content: space-evenly;
  background: rgb(240, 240, 240);
  margin: 20px 10px 30px 10px;
}

.box_3 > div {
  padding: 15px;
}

/* h2_section_les_plus_populaire */

.h2_2 {
  margin: 20px;
}

.article_2 {
  line-height: 1;
  box-shadow: 10px 10px 5px rgb(230, 230, 230);
  display: flex;
  background-color: whitesmoke;
  border-radius: 20px;
  border: solid rgb(255, 255, 255) 5px;
}

.article_2 > .img_2 {
  width: 25%;
  height: 150px;
  border-radius: 10px;
}

/* section_4_box_activite */

.box_4 {
  display: flex;
  height: 500px;
}

.box_4 > div {
  padding: 10px;
}

/* h2_section_activite */

.h2_activite {
  width: 100%;
  margin: 10px;
}

/* section_4_aticle_activite */

.article_3 {
  box-shadow: 10px 10px 5px rgb(240, 240, 240);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 95%;
}

.article_3 > .img_3 {
  width: 100%;
  height: 80%;
  border-radius: 20px;
}

.article_4 {
  box-shadow: 10px 10px 5px rgb(240, 240, 240);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 45%;
}

.article_4 > .img_4 {
  width: 100%;
  height: 80%;
  border-radius: 20px;
}

/* container_4_box_section_footer */

.box_5 {
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  body {
    display: block;
  }

  .container {
    width: 100%;
    display: block;
  }

  /* container_nav_media_querie */

  .ancre {
    width: 100%;
    display: block;
  }

  /* icon_localisation_section_2_trouvez_media_querie */

  .span {
    width: 100%;
    display: block;
  }

  /*span _rond_button_section_2_trouvez_media_querie */

  .span_1 {
    width: 100%;
    display: block;
  }

  button {
    width: 100%;
    display: block;
  }

  /*  ancre_button_section_2_trouvez_media_querie */

  .ancre_1 {
    width: 100%;
    display: block;
  }

  .ancre_1 a {
    width: 100%;
    display: block;
  }

  /* section_3_container_Hebergement_media_querie */

  .container_2 {
    width: 100%;
    display: block;
  }

  .col_hebergement {
    width: 100%;
    display: block;
  }

  /* section_3_box_hebergement_media_querie */

  .box_2 {
    width: 100%;
    display: block;
  }

  .box_2 > div {
    width: 100%;
    display: block;
  }

  /* h2_section_3_hebergement_media_querie */

  .h2_1 {
    width: 100%;
    display: block;
  }

  .article_1 {
    width: 100%;
    display: block;
  }

  .ancre_3 {
  }

  /* container_2_section_les_plus_populaire_media_querie */

  .col_les_plus_populaire {
    width: 100%;
    display: block;
  }

  .box_3 {
    width: 100%;
    display: block;
  }

  .box_3 > div {
    width: 100%;
    display: block;
  }

  /* h2_section_les_plus_populaire_media_querie */

  .h2_2 {
    width: 100%;
    display: block;
  }

  .article_2 {
    width: 100%;
    display: block;
  }

  .article_2 > .img_2 {
    width: 100%;
    display: block;
  }

  /* section_4_box_activite_media_querie */

  .container_3 {
    width: 100%;
    display: block;
  }

  .box_4 {
    width: 100%;
    display: block;
  }

  .box_4 > div {
    width: 100%;
    display: block;
  }

  /* h2_section_activite_media_querie */

  .h2_activite {
    width: 100%;
    display: block;
  }

  /* section_4_aticle_activite_media_querie */

  .article_3 {
    width: 100%;
    display: block;
  }

  .article_3 > .img_3 {
    width: 100%;
    display: block;
  }

  .article_4 {
    width: 100%;
    display: block;
  }

  .article_4 > .img_4 {
    width: 100%;
    display: block;
  }

  /* container_4_box_section_footer_media_querie */

  .container_4 {
    width: 100%;
    display: block;
  }

  .box_5 {
    width: 100%;
    display: block;
  }
}
