.image {
  background-color: whitesmoke;
}
li {
  display: flex;
  justify-content: right;
}
.container {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  flex-basis: auto;
}
.el {
}
.el1 {
}
.el2 {
}
